<header>
    <div class="container">
        <section class="branding">
            <img src="https://picsum.photos/id/20/32/32" alt="Logo" class="logo">
            <h1>Succulent Miracle Spray</h1>
        </section>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="product.html">Product</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <button class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </nav>
    </div>
</header>