<table border="1">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Requisitos para practicarlo</th>
            <th>Ranking</th>
        </tr>
    </thead>
        {{#each deportes}}
        <tr>
            <td>{{nombre}}</td>
            <td>{{descripcion}}</td>
            <td>{{requisitos}}</td>
            <td>{{ranking}}</td>
        </tr>

        {{/each}}
    <tbody>

    </tbody>
</table>